*/*work_dir*/*
!*.xpr
!*.xise
!*.tcl
*/bd/*
!*/bd/*.bd
*.swp
*.~
*.*~
*.o
.Xil

/ctp7/ip/*
/glib/ip/*
!*.xcix
!*.xci
!glib/ip/*.xco
!glib/ip/*.cgp
!glib/ip/*.vhd
!glib/ip/*.ngc

zamiacad
sigasi
scratch

.idea
