<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand" ><a href="/main/">CTP7 manager</a></p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoring <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/monitoring/gem_system/">GEM_SYSTEM</a></li>
              <li><a href="/monitoring/daq/">DAQ</a></li>
              <li><a href="/monitoring/ttc/">TTC</a></li>
              <li><a href="/monitoring/trigger/">TRIGGER</a></li>
              <li><a href="/monitoring/oh_links/">OH LINKS</a></li>
              <li class="dropdown-submenu"><a href="#">OH MODULE</a>
               <ul class="dropdown-menu">
                 <li class="dropdown-submenu"><a href="/monitoring/oh.oh0/">OH 0</a>
                   <ul class="dropdown-menu">
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT0/">VFAT 0</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT1/">VFAT 1</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT2/">VFAT 2</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT3/">VFAT 3</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT4/">VFAT 4</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT5/">VFAT 5</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT6/">VFAT 6</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT7/">VFAT 7</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT8/">VFAT 8</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT9/">VFAT 9</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT10/">VFAT 10</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT11/">VFAT 11</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT12/">VFAT 12</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT13/">VFAT 13</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT14/">VFAT 14</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT15/">VFAT 15</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT16/">VFAT 16</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT17/">VFAT 17</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT18/">VFAT 18</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT19/">VFAT 19</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT20/">VFAT 20</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT21/">VFAT 21</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT22/">VFAT 22</a></li>
                     <li><a href="/monitoring/OH0.GEB.VFATS.VFAT23/">VFAT 23</a></li>
                   </ul>
                 </li>
                 <li class="dropdown-submenu"><a href="/monitoring/oh.oh1/">OH 1</a>
                   <ul class="dropdown-menu">
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT0/">VFAT 0</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT1/">VFAT 1</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT2/">VFAT 2</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT3/">VFAT 3</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT4/">VFAT 4</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT5/">VFAT 5</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT6/">VFAT 6</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT7/">VFAT 7</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT8/">VFAT 8</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT9/">VFAT 9</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT10/">VFAT 10</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT11/">VFAT 11</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT12/">VFAT 12</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT13/">VFAT 13</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT14/">VFAT 14</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT15/">VFAT 15</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT16/">VFAT 16</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT17/">VFAT 17</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT18/">VFAT 18</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT19/">VFAT 19</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT20/">VFAT 20</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT21/">VFAT 21</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT22/">VFAT 22</a></li>
                     <li><a href="/monitoring/OH1.GEB.VFATS.VFAT23/">VFAT 23</a></li>
                   </ul>
                 </li>
                 <li class="dropdown-submenu"><a href="/monitoring/oh.oh2/">OH 2</a>
                   <ul class="dropdown-menu">
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT0/">VFAT 0</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT1/">VFAT 1</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT2/">VFAT 2</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT3/">VFAT 3</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT4/">VFAT 4</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT5/">VFAT 5</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT6/">VFAT 6</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT7/">VFAT 7</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT8/">VFAT 8</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT9/">VFAT 9</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT10/">VFAT 10</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT11/">VFAT 11</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT12/">VFAT 12</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT13/">VFAT 13</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT14/">VFAT 14</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT15/">VFAT 15</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT16/">VFAT 16</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT17/">VFAT 17</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT18/">VFAT 18</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT19/">VFAT 19</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT20/">VFAT 20</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT21/">VFAT 21</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT22/">VFAT 22</a></li>
                     <li><a href="/monitoring/OH2.GEB.VFATS.VFAT23/">VFAT 23</a></li>
                   </ul>
                 </li>
                 <li class="dropdown-submenu"><a href="/monitoring/oh.oh3/">OH 3</a>
                   <ul class="dropdown-menu">
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT0/">VFAT 0</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT1/">VFAT 1</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT2/">VFAT 2</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT3/">VFAT 3</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT4/">VFAT 4</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT5/">VFAT 5</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT6/">VFAT 6</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT7/">VFAT 7</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT8/">VFAT 8</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT9/">VFAT 9</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT10/">VFAT 10</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT11/">VFAT 11</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT12/">VFAT 12</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT13/">VFAT 13</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT14/">VFAT 14</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT15/">VFAT 15</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT16/">VFAT 16</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT17/">VFAT 17</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT18/">VFAT 18</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT19/">VFAT 19</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT20/">VFAT 20</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT21/">VFAT 21</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT22/">VFAT 22</a></li>
                     <li><a href="/monitoring/OH3.GEB.VFATS.VFAT23/">VFAT 23</a></li>
                   </ul>
                 </li>
               </ul>
             </li>
           </ul>
        </li>
        <li>
          <a href="/hello/">Help</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
