{% block system_overview %}
<div class="col-sm-4">
    <!-- Left column -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 align="center">DAQ</h4>
            <span class="label label-default full-width"> IEMASK
            {% for ie in iemask %}
              <span class="label label-{{ie}}">{{ forloop.counter0 }}</span>
            {% endfor %}
            </span>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for daq in daqlist %}
                <tr>
                <td style="width:10%">{{daq.0}}</td>
                {{daq.1}}
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
            <small>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for daqoh in daqohlist %}
                <tr>
                <td style="width:10%">{{daqoh.0}}</td>
                {{daqoh.1}}
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
            </small>
        </div>
        <!--/panel-body-->
    </div>
</div>
<div class="col-sm-4">
    <!-- Left column -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 align="center">TTC</h4>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for ttc in ttclist %}
                <tr>
                <td style="width:10%">{{ttc.0}}</td>
                <td>{{ttc.1}}</td>
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
        </div>
        <!--/panel-body-->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 align="center">TRIGGER</h4>
            <span class="label label-default full-width"> KILLMASK
            {% for k in killmask %}
              <span class="label label-{{k}}">{{ forloop.counter0 }}</span>
            {% endfor %}
            </span>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for trigger in triggerlist %}
                <tr>
                <td style="width:10%">{{trigger.0}}</td>
                <td>{{trigger.1}}</td>
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
            <small>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for triggeroh in triggerohlist %}
                <tr>
                <td style="width:10%">{{triggeroh.0}}</td>
                {{triggeroh.1}}
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
            </small>
        </div>
        <!--/panel-body-->
    </div>
</div>
<div class="col-sm-4">
    <!-- Right column -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 align="center">OH</h4>
            <small>
            <table align="center" class="table table-bordered table-condensed" style="width:100%">
            {% autoescape off %}
            {% for oh in ohlist %}
                <tr>
                <td style="width:10%">{{oh.0}}</td>
                {{oh.1}}
                </tr>
            {% endfor %}
            {% endautoescape %}
            </table>
            </small>    
        </div>
        <!--/panel-body-->
    </div>
</div>
{% endblock %}
